<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Group ID</ion-label>
      <ion-input formControlName="groupId"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Login</ion-button>
  </form>
  <ion-button expand="block" color="light" (click)="goToRegister()">Register</ion-button>
  <ion-text class="ion-text-center ion-margin-top">
    <p><a href="/recover-password">Olvide mi contraseña</a></p>
  </ion-text>
</ion-content>
