<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="recover-container">
    <ion-text class="ion-text-center">
      <h2>Olvidaste la contraseña?</h2>
      <p>Ingresa tu correo electronico y te enviaremos un enlace para restablecerla.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top">Enviar Enlace</ion-button>

    <ion-text class="ion-text-center ion-margin-top">
      <p><a href="/login">Volver al inicio de sesión</a></p>
    </ion-text>

    <ion-text>
      <p>Por el momento esto no tiene codigo solicitado</p>
    </ion-text>
  </div>
</ion-content>
